html {
	font-size: 18px;
}

/* General Styles */
body {
	font-family: Helvetica, sans-serif;
	color: white;
}

/* Header */

header {
	background-color: black;
	text-transform: uppercase;
}

header div {
	width: 960px;
	height: 2.82rem;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

header img {
	margin-left: 0.5rem;
	margin-right: 1rem;
	height: 1.5rem;
}

/* Hero */

#hero {
	height: 25rem;
	background-image: url("../images/moto.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}

#hero div {
	width: 25rem;
	position: absolute;
	left: 16rem;
	top: 9rem;
	background-color: black;
	text-transform: uppercase;
	font-weight: bold;
}

#hero div p {
	margin-top: 2rem;
	margin-bottom: 0.25rem;
	margin-left: 3rem;
}

#hero div h1 {
	font-size: 2rem;
	margin-left: 3rem;
	margin-bottom: 2rem;
}

/* Nav */


nav {
	width: 100%;
	margin: 0 auto;
	background-color: firebrick;
	margin-bottom: 3rem;
}

nav ul {
	width: 960px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

nav li {
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
}

nav p {
	display: none;
	text-align: center;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
}

/* Product grid */

#products {
	width: 960px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.product {
	background-color: white;
	border: 4px solid black;
	width: 30%;
	display: flex;
	flex-direction: column;
}

.product img {
	height: 9rem;
	max-width: 100%;
	margin-top: 2rem;
	margin-bottom: 2rem;
	align-self: center;
}

.product h2 {
	background-color: black;
	text-align: center;
	padding: 0.5rem 0;
}


/* Contact */

#contact {
	width: 960px;
	margin: 3rem auto 4rem auto;
	display: flex;
	justify-content: space-between;
}

.info {
	width: 35%;
}

.info h2 {
	background-color: black;
	padding: 1rem 0 1rem 2rem;
}

.info p {
	color: black;
}

/* Footer */

footer {
	height: 10rem;
	background-color: black;
	display: flex;
	align-items: center;

}

footer p {
	margin-left: 17rem;
}

/* Media Queries */


@media screen and (max-width: 1024px) {

/* Header */

#hero div {
	top: 14rem;
	left: 0;
}

/* Nav */

nav {
	width: 100%;
}

nav ul {
	display: none; 
}

nav p {
	display: block;
}

/* Products */

#products {
	width: 100%;
}

.product {
	width: 47%;
}

.product:last-of-type {
	display: none;
}

/* Contact */

#contact {
	width: 100%;
}

/* Footer */

footer {
	height: 10rem;

}

footer p {
	margin-left: 0;
}

}

/* Mobile */

@media screen and (max-width: 470px) {


/* Header */
header div {
	width: 100%;
}

header div p {
	display:none;
}

header img {
	margin: 0 auto;
}


#hero {
	height: 15rem;

}

#hero div {
	width: 100%;
	position: absolute;
	left: 0;
	top: 13.75rem;
}

#hero div p {
	margin-top: 1rem;
	margin-bottom: 0.25rem;
	margin-left: 2rem;
	font-size: 0.77rem;
}

#hero div h1 {
	font-size: 1rem;
	margin-left: 2rem;
	margin-bottom: 1rem;
}

/* Products */

.product {
	display: none;
}

.product:first-of-type {
	display: block;
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

/* Contact */

#contact {
	flex-direction: column;
	justify-content: center;
}

.info {
	width: 90%;
	margin: 0 auto;
	margin-bottom: 0.5rem;
}

/* Footer */
 footer {
 	justify-content: center;
 }

}